<% name = current_user.present? ? current_user.email : 'Stranger' %>

<!-- <h1>Welcome, <%= name %></h1> -->

<% if user_signed_in? %>
	<div class="d-flex justify-content-start">
		<button class="btn btn-primary ml-3" type="button">+ New Note</button>
	</div>
<% end %>