// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.note-page {
	padding: 0px 50px;
}

.note-card {
	background-color: #0cacdc;
	color: white !important;
}

.note-btn {
	color: white !important;
}

.edit-form {
	padding: 0px 25px;
}

.form-field {
	color: #0cacdc;
	font-weight: bold;
}

.edit-option {
	color: #0cacdc !important;
}